@model List<Nero.Models.Employee>
@{

    if (Model.Count == 1)
    {
        ViewBag.Title = "About " + Model.First().Name;
    }
    else
    {
        ViewBag.Title = "About Nero Engineering";
    }
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

@if (Model.Count == 1)
{

    <h3 style="margin-bottom:.1em">@Html.DisplayFor(x => x.First().Name), PE (MN)</h3>
    <h4>@Html.DisplayFor(x => x.First().Title)</h4>


    <div>
        <div class="bioImage">
            <img src="@Model.First().ImagePath" />
        </div>
        <div class="container" style="margin-bottom:2em">
            @Html.Raw(Model.First().Biography)
        </div>

    </div>
}
else
{

    foreach (Nero.Models.Employee employee in Model)
    {
        <h3 style="margin-bottom:.1em">@Html.DisplayFor(x => employee.Name), PE (MN)</h3>
        <h4>@Html.DisplayFor(x => employee.Title)</h4>


        <div>
            <div class="bioImage">
                <img src="@employee.ImagePath" />
            </div>
            <div class="container" style="margin-bottom:2em">
                @Html.Raw(employee.Biography)
            </div>

        </div>
    }

}



